@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}