.listItem {
    font-size: 1.2rem;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 10px;
    text-align: center;
}

.list {
    margin-top: 30px;
}

.removeBtn {

    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    background: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    width: 100px;
    padding: 1em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

.removeBtn:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);

}

.removeBtn:active {
    background: rgba(255, 255, 255, 0.2);
}